<div class='container p-5'>
{{!-- This card will hold the particular post that was selected to view --}}
  <div class='card'>
    <div
      class='card-header d-flex justify-content-between align-items-center bg-dark'
      style='height: 50px;'
    >
      <h5 class='mb-0'>{{title}}</h5>
      <small>Posted by {{user.name}} on {{format_date date_created}}</small>
    </div>
    <div class='card-body fs-1' style='height: 100px;'>
      <p class='card-text'>{{description}}</p>
      <div class='d-flex justify-content-center'>
        <button
          class='btn btn-primary btn-md '
          id='comm-btn'
          {{!-- Gives the option to comment on post --}}
          onclick="location.href='/comment/{{id}}'"
        >Comment</button>
      </div>
    </div>
  </div>
{{!-- All comments that are associated with thie post are displayed below --}}
  {{#each comments}}
    <div class='container col-9'>
      <div class='card'>
        <div
          class='card-header d-flex justify-content-between align-items-center bg-danger'
          style='height: 50px;'
        >
          <h5 class='mb-0'>{{title}}</h5>
          <small>Commented by {{user.name}} on {{format_date date_created}}</small>
        </div>
        <div class='card-body fs-1' style='height: 100px;'>
          <p class='card-text'> {{description}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
